<div class="control-group">
    <input type="text" id="firstName" placeholder="First Name">
</div>
<div class="control-group">
    <input type="text" id="lastName" placeholder="Last Name">
</div>
<div class="control-group">
    <input type="text" id="email" placeholder="E-mail">
</div>
<div class="control-group">
    <input type="text" id="age" placeholder="Age">
</div>
<div class="control-group">
    <input type="text" id="dateOfBirth" placeholder="Date of Birth">
</div>
<div class="control-group">
    <input type="text" id="adress" placeholder="Adress">
</div>
<div class="control-group">
    <input type="text" id="city" placeholder="City">
</div>
<div class="control-group">
    <input type="text" id="country" placeholder="Country">
</div>
<button type="button" class="btn submit-add">Add User</button>
<a type="button" class="btn cancel" href="#items">Cancel</a>