<h1 class="header">List of Users</h1>
<div class="content">
    <div class="row-fluid">
        <div class="span2"></div>
        <div class="span2"><strong class="first-name-sorter">First Name</strong><i id="firstNameIcon"></i></div>
        <div class="span2"><strong class="last-name-sorter">Last Name</strong><i id="lastNameIcon"></i></div>
        <div class="span2"><strong class="e-mail-sorter">Email</strong><i id="emailIcon"></i></div>
        <div class="span4"></div>
    </div>
    <div class="user-list"></div>
</div>